.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.content-wrapper {
  flex-grow: 1;
  overflow-x: hidden;
  padding: 1rem; /* Optional padding for content */
}
/* .topnav{
  
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    

} */